.app {
  margin: 2rem 0 0 5rem;
}

.fetch-time {
  display: inline-flex;
}

.fetch-time-p {
  padding-top: 1rem;
  font-size: 1rem!important;
}

.fetch-time-card {
  width: 8.5rem;
  text-align: center;
  margin-left: 2rem;
}

.fetch-time-content {
  padding-bottom: 0!important;
  font-size: 2rem!important;
}

.chart-container {
  margin-top: 3rem;
}

.chart {
  margin-top: 2rem;
}